$primary-color: #3498db;
$font-stack: 'Arial', sans-serif;

body {
  font-family: $font-stack;
  background-color: lighten($primary-color, 40%);
  color: #333;
}

h1 {
  color: $primary-color;
  text-align: center;
}
